# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Go
bin/
vendor/
*.exe
*.test
*.out
*.log
coverage.out
nats-server.conf
# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*/.env
.env
**/.env