@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
.app-bg-dark-1{
    background: #120413;
}
.app-bg-dark-2{
    background: #110a10;
}
body {
    font-family: "Karla", monospace;
}